{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">הרשמה למערכת</h3>
            </div>
            <div class="card-body">
                                <!-- הצגת הודעות -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">כתובת אימייל</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">סיסמה</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">הרשמה</button>
                    </div>
                    <div class="md-3 text-center">
                        <a href="{{ url_for('login') }}">יש לך כבר חשבון? התחבר כאן</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}